{% extends "base.html.twig" %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(form) }}
    {{ form_row(form.username, {
        'label': 'Nom d\'utilisateur',
        'attr': {
            'placeholder': 'Nom d\'utilisateur'
            }
        }) 
    }}
    {{ form_row(form.email, {
        'label': 'Adresse E-Mail',
        'attr': {
            'placeholder': 'Adresse E-Mail'
            }
        }) 
    }}
    {{ form_row(form.password, {
        'label': 'Mot de passe',
        'attr': {
            'placeholder': 'Mot de passe'
            }
        }) 
    }}
    {{ form_row(form.confirm_password, {
        'label': 'Confirmation du mot de passe',
        'attr': {
            'placeholder': 'Répétez votre mot de passe'
            }
        }) 
    }}
    
    {{ form_label(form.avatar) }}
    <div class="row">
        {% for avatar in form['avatar'] %}
            <div class="col-1 align-items-center">
                {{ form_row(avatar) }}
                <img src="/images/avatars/{{ avatar.vars.value }}" alt="" height="100%" class="avatar avatar-mini">
            </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-success mt-5 mb-3">Inscription</button>

    {{ form_end(form) }}

{% endblock %}