{% extends 'base.html.twig' %}

{% block title %}
{% if app.user %}
    {{ app.user.username }}
{% else %}
    Anonymous !
{% endif %}
{% endblock %}

{% block body %}
    <!--<div class="container">-->
        <section class="col-md-12 articles mt-5">
            {% if user == app.user %}
                <h2 class="col-12 mb-3">Mon blog</strong></h2>
            {% else %}
                <h2 class="col-12 mb-3">Blog de <strong>{{ user.username }}</strong></h2>
            {% endif %}
            <div class="row justify-content-center">
                {% for article in articles %}
                    <div class="card-grid col-md-2 m-3">
                        <div class="front row align-items-end {% if article.done == 0 %} card_border_not_valid {% else %} card_border_valid {% endif %}">
                            <img src="{{asset('uploads/brochures/' ~ article.brochureFilename)}}" alt="" width="100%">
                            <div class="font-weight-bold" style="font-size: 15px; color: white;">{{article.date | localizeddate('full', 'none', 'fr', 'Europe/Paris', 'EEEE d MMMM')}}</div>
                        </div>
                        <div class="card_back back align-items-center card_border" style="background-color: white; color: black;">
                            <div class="content" style="max-height: 80%;">
                                <h5 class="font-weight-bold pt-2 titre_article ml-2 mr-2" style="background-color: white; color: black;">{{article.tagline}}</h5>
                            </div>
                            <div class="content row">
                                <a href="{{ path('blog_show', {'id': article.id}) }}" class="{% if app.user and app.user == article.author %}col-4{% else %}col-12{% endif %} btn btn-primary {% if article.done == 0 %}{% for role in app.user.roles | filter(role => role == "ROLE_USER") %}disabled{% endfor %}{% endif %}">
                                    <img src="/images/view.png" alt="" class="icons-small">
                                </a>
                                {% if app.user and app.user == article.author %}
                                    <a href="{{ path('blog_edit', {'id': article.id}) }} " class="col-4 btn btn-warning">
                                        <img src="/images/edit.png" alt="" class="icons-small">
                                    </a>
                                    <a href="{{ path('blog_delete', {'id': article.id}) }}" class="col-4 btn btn-danger" onclick="return confirm(`Etes-vous sur de vouloir supprimer cet article ?`)">
                                        <img src="/images/delete.png" alt="" class="icons-small">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    <!--</div>-->
    
{% endblock %}


