{% extends 'base.html.twig' %}

{% block title %}
{% if app.user %}
    {{ app.user.username }}
{% else %}
    Anonymous !
{% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2"></div>
        <section class="articles mt-5">
            <div class="row">
                {% for article in articles %}
                    <div class="card-grid col-2 m-3">
                        <div class="front row align-items-end {% if article.done == 0 %} card_border_not_valid {% else %} card_border_valid {% endif %}">
                            <img src="{{asset('uploads/brochures/' ~ article.brochureFilename)}}" alt="" width="100%">
                            <div class="font-weight-bold" style="font-size: 18px; color: white;">{{article.day}}</div>
                        </div>
                        <div class="card_back back align-items-center card_border" style="background-color: white; color: black;">
                            <div class="content" style="max-height: 80%;">
                                <h5 class="font-weight-bold pt-2 titre_article ml-2 mr-2" style="background-color: white; color: black;">{{article.tagline}}</h5>
                            </div>
                            <div class="content row">
                                <a href="{{ path('blog_show', {'id': article.id}) }}" class="{% if app.user is not null %}{% for role in app.user.roles | filter(role => role == 'ROLE_ADMIN') %}col-6{% endfor %}{% for role in app.user.roles | filter(role => role == 'ROLE_USER') %}col-12{% endfor %}{% endif %} btn btn-primary {% if article.done == 0 %}{% for role in app.user.roles | filter(role => role == "ROLE_USER") %}disabled{% endfor %}{% endif %}">Lire</a>
                                {% if app.user is not null %}
                                    {% for role in app.user.roles | filter(role => role == 'ROLE_ADMIN') %}
                                        <a href="{{ path('blog_edit', {'id': article.id}) }}" class="col-6 btn btn-warning">Modifier</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <div class="col-2"></div>
    </div>

    <div class="test">
        2eme branche
    </div>
    
{% endblock %}


